.loginInfo-box {
  margin: 20px 0 20px 0;
  max-width: int;
  max-width: inherit;
  padding: 20px 0 0 0;
}

.unit {
  width: 450px;
  border-bottom: 1px lightgray solid;
  padding-bottom: 20px;
  margin-top: 30px;
}
.unit-title {
  margin-bottom: 5px;
  display: inline-block;
  color: gray;
  font-size: 13px;
}
.inputBox {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}
.detailInfo {
  width: 70%;
  height: 35px;
  border: none;
  display: flex;
  align-items: center;
}
.modifybtn {
  width: 50px;
  border: lightgray 1px solid;
  border-radius: 10px;
  color: gray;
  font-size: 14px;
}
