.header-section {
  width: 100%;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 40px;
}

.header-section-top {
  max-width: 1240px;
  width: 90%;
  height: 30px;
  margin: 10px auto 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 13px;
  color: #222222cc;
  box-sizing: border-box;
}

.header-section-menu {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 0;
  margin: 0;
  height: 100%;
}

.header-section-menu a {
  text-decoration: none;
  color: #222222cc;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transition: color 0.3s ease;
}

.header-section-menu a:hover {
  color: #000;
}

.header-section-main {
  max-width: 1280px;
  width: 90%;
  height: 50px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 20px 0;
}

.header-section-logo {
  margin-right: auto;
}

.header-section-logo img {
  height: 50px;
  width: auto;
}

.header-form {
  --timing: 0.3s;
  --width-of-input: 200px;
  --height-of-input: 40px;
  --border-radius: 30px;
  width: var(--width-of-input);
  height: var(--height-of-input);
  display: flex;
  align-items: center;
  padding-inline: 0.8em;
  border: 1px solid #cdcacacc;
  border-radius: var(--border-radius);
  transition: border-radius 0.5s ease, border-color 0.3s ease;
  background: #fff;
  margin-left: auto;
}

.header-form button {
  border: none;
  background: none;
  color: #8b8ba7;
}

.header-form svg {
  width: 17px;
}

.header-input {
  font-size: 0.9rem;
  background-color: transparent;
  width: 100%;
  height: 100%;
  padding: 0.5em;
  border: none;
}

.header-input:focus {
  outline: none;
}

.header-reset {
  border: none;
  background: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
}

.header-input:not(:placeholder-shown) ~ .header-reset {
  opacity: 1;
  visibility: visible;
}
